.cart h4 {
    margin:  20px 0 50px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
    text-align: center;
}

.cart p {
    margin: 0 0 25px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
}

.cart .grand-total {
    margin: 0 0 50px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}



